*venv*
*.pyc
*.nbc
*.nbi
#  find * -size +50M | cat >> .gitignore

.idea/
build/
develop-eggs/
dist/
eggs/
.eggs/
wheels/
share/python-wheels/
*.egg-info/
*.egg
MANIFEST

__pycache__/
exclude/
runs/
dev/
.vscode
models
*.npy