*venv*
*.pyc
*.nbc
*.nbi
#  find * -size +50M | cat >> .gitignore

.idea/
build/
develop-eggs/
dist/
eggs/
.eggs/
wheels/
share/python-wheels/
*.egg-info/
*.egg
MANIFEST

__pycache__/
.ipynb_checkpoints/
exclude/
runs/
dev/
.vscode
models
*.npy
docs/_build/html/.doctrees/
docs/_build/html/.buildinfo.bak
docs/_build/html/objects.inv
